<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (cart.length > 0) { %> 
                <% cart.map(({product, quantity}) => {%>
                <li><%= product.title %> (<%= quantity %>)</li> 
                <% }) %>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>

